
.topnav {
    display: block;
    padding: 30px; /* thickness of nav bar */
    background-color: #28536b;
    top: 0%; /* how high up the nav bar is*/
    position: absolute; /* moved nav bar to top of navbar*/
    width: 1484px;
    height: 40px;
    margin: -8px; /* fixed gap on left side of nav bar */

}
.contacts {
    float: left;
    color: #fdfb87;
    margin-left: 1375px;
    margin-top: 35px;
    text-decoration: none;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}

.contacts:hover{
    background-color: #59788e;

}
.projects {
    float: left;
    margin-left: 1200px;
    margin-top: -35px; /* it finally worked to move it up :') */
    color: #fdfb87;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif

    
}
.projects:hover {
    background-color: #59788e;
}

body {
    margin: 0px;
    background-color: #bce7fd ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h1 {
    margin: 0;
}


#myphoto {
height: 450px;
width:  350px;
margin: 19px;
margin-top: 110px;
border-style: solid;
border: 10px;
border-color: #28536b;

}
